body   {  margin: 0;  padding: 0;  }
body * {  font-family: Arial, Helvetica, sans-serif;  }

@media (min-width: 768px) {
  #wd-kanbas .wd-main-content-offset {
    padding-left: 140px !important;
  }
}
.list-group-item.active {
	background-color: white;
	color: red;
}

.list-group-item {
	background-color: white;
	color: black;
}

/* only applying to list-group.wd */
.list-group.wd > .list-group-item.active {
  color: black;
  background-color: white;
  border-left: 3px solid black !important;
}

.btn-secondary {
  --bs-btn-color: #000 !important;
  --bs-btn-bg: #c7cdd1 !important;
  --bs-btn-border-color: #c7cdd1 !important;
  --bs-btn-hover-color: #fff !important;
}
.bg-secondary {
  --bs-secondary-rgb: 199, 205, 209;
}

.list-group-item {
  --bs-list-group-border-color: gray;
}
.wd-lesson {
  border-left: 3px solid green !important;
}

.bg-assignment {
  background-color: #ebebeb;
  color: black;
}

.rounded-btn {
  background-color: #ebebeb;
  border-radius: 50px; 
  padding: 7px 20px;
  border: 1px solid black;
  color: black;
}

.border-gray {
  border: 1px solid gray;
}

.btn-save {
  background-color: red;
  color: white;
}

<<<<<<< HEAD
.assignment-table td {
  padding-left: 5px; 
  vertical-align: top;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.ql-container {
  height: calc(100% - 42px); /* Adjusts for toolbar height */
  overflow-y: auto; /* Ensures scrolling for content */
}

.ql-editor {
  min-height: 100%; /* Content area occupies full height */
  box-sizing: border-box; /* Prevents padding from affecting dimensions */
  padding: 10px; /* Adds padding for text inside */
}

.ql-toolbar {
  border-bottom: 1px solid #ccc; /* Toolbar border for separation */
}
=======
.confirmation-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border: 1px solid #ddd;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
.confirmation-dialog p {
  margin-bottom: 20px;
}
>>>>>>> kanbas-react-web-app-cs5610-fa24/a6
